.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */
}

.imagem {
    border-radius: 15px; /* Arredonda as bordas */
    max-width: 100%; /* Garante que a imagem não exceda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
}
